@import "tailwindcss";
@import "./header.css";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background-color: #ddd;
}

.btnDefault{
  display: flex;
  background-color: red;
  padding: 10px;
  border-radius: 10px;
}

.fieldForm{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.fieldForm label{
  font-size: larger;
}

.fieldForm input{
  border: 1px solid #888;
  padding: 3px;
  border-radius: 3px;
}
